<nav class="admin-dashboard__nav">
    <%= button_to 'View Albums', admin_albums_path, method: 'get' %>
    <%= button_to 'Logout', action: 'delete', controller: 'admin_sessions'%>
</nav>
<div class="admin-dashboard__container">
  <div class='admin-dashboard__upload'>
    <% if flash[:notice] %>
      <div class="alert alert-info" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= render "categories/upload_category", categories: @categories %>
  </div>

</div>
