<div class="admin-dashboard__container">
  <div class='admin-dashboard__upload'>
    <% if flash[:notice] %>
      <p class='admin-dashboard__flash'><%= flash[:notice] %></p>
    <% end %>
    <%= render "categories/upload_category", categories: @categories %>
    <%= button_to 'Logout', action: 'delete', controller: 'admin_sessions'%>
  </div>

  <div class="admin-dashboard__index">
    <%= render "categories/index", categories: @categories %>
  </div>

</div>
