// Place all the styles related to the admin_dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.admin-dashboard__nav {
  margin: 0 auto;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.admin-dashboard__container {
  display: flex;
  justify-content: start;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  border-top: 2px solid gray;
  padding-top: 15px;
}

.admin-dashboard__upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.admin-dashboard__index {
  width: 800px;
  height: 900px;
  overflow: scroll;
}

.hidden {
  display: none;
}

.upload-category__container {
  width: 300px;
  margin: 20px auto;
}

.albums-table__header {
  font-size: 26px;
  text-align: center;
}

.albums-table__header-container {
  margin: 20px;
}

.albums-table__container {
  max-width: 900px;
  margin: 0 auto;
}

.albums-table__category-header {
  font-size: 25px;
}

.albums-table__category-header-container {
  margin: 15px; 
}

.albums-table__table-container {
  margin: 15px;
}

